on: [ push ]

# どこのテストで失敗するようになったのかを特定するために、
# pull request とは別に、push に対してもテストを実行する。

concurrency:
  group: ${{ github.workflow }}-${{ github.ref }}-go-test-push
#  cancel-in-progress: true

name: Test
permissions:
  contents: read
jobs:
  test:
    strategy:
      matrix:
        os: [ [ubuntu-latest] ]
    runs-on: ${{ matrix.os }}
    steps:
      - uses: actions/checkout@v6
      - uses: actions/setup-go@v6
        with:
          go-version-file: 'go.mod'
      - run: go test -race ./...
